:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --not-white: #f5f4fa;
  --dark-bgc: #2f303a;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  letter-spacing: 0.03em;
  background-color: var(--white-color)
}
.list {
  list-style: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header */

/* logo */
.logo {
  font-size: 26px;
  font-family: Raleway, san-serif;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary-color);
  text-decoration: none;
}

.logo-accent,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.contacts .link:hover,
.contacts .link:focus,
.adress-list .link:hover,
.adress-list .link:focus  {
  color: var(--accent-color);
}

/* nav */
.site-nav .link {
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}


/* contacts */
.contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
}


/* main */
/* hero section */
.hero {
  background-color: var(--dark-bgc)
}

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero .hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* features section */

.features .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .text {
  color: var(--secondary-color);
  line-height: 1.71;
}

/* works section */

/* team section */
.team {
  background-color: var(--not-white)
}

.team .item {
  background-color: var(--white-color)
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

/* footer */
.footer {
  background-color: var(--dark-bgc)

}
.footer .logo {
  color: var(--white-color);
}

.footer .contacts {
  font-style: normal;
}

.adress-list .link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  text-align: left;
  text-decoration: none;
}
.adress-list .adress {
  color: var(--white-color);
}

/*                                      */

/* Portfolio page */

.button-nav {
}
.button-nav .button-item {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--not-white)
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.button-nav .button-item:hover,
.button-nav .button-item:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* portfolio items */

.portfolio-link {
  text-decoration: none;
}

.portfolio .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.portfolio .portfolio-categories {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}
/*  */
